<html>
    <center>

        <head>
            <title>Dashboard</title>
            <link rel="stylesheet" href="/css/all.css">
        </head>
        <body>
            
            <h1>Data User</h1>
            <table class="data_resep">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Judul Resep</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
    <% data.forEach(function(elm, idx){ %>
        <tr>
            <th><%= idx + 1 %></th>
            <th><a href="/view/<%= elm.id %>" title="Lihat Resep: <%= elm.title %>"><%= elm.title %></a></th>
            <th><a href="/edit/<%= elm.id %>" class="button normal">Ubah</a>  <a href="#" class="button danger" onclick="delete_resep('<%= elm.id %>')">Hapus</a></th>
        </tr>
        <% }) %>
    </tbody>
</table>
<br><br>
<a href="/add">Tambah resep baru</a><br><br>
<a href="/">Kembali</a><br>
<script type="text/javascript">
    function delete_resep(param) {
        event.preventDefault();
        let confirmDelete = confirm('Apakah anda ingin menghapus data resep ini?');
        if(confirmDelete){
            let delete_form = document.createElement('form');
            delete_form.method = 'post';
            delete_form.action='/delete/' + param;
            delete_form.id = 'delete_resep';
            document.body.appendChild(delete_form);
            document.getElementById('delete_resep').submit();
        }
    }
</script>
</body>
</center>
</html>