<link rel="stylesheet" href="/css/register.css">
<center>
    <% if(typeof uri !== 'undefined' && uri == "edit"){ %>
    <h1 class="formtitle">Edit Resep</h1>
    <form action="/edit/<%= data.id %>" method="post">
    <% } else if(typeof uri !== 'undefined' && uri == "read") { %>
    <h1 class="formtitle">Lihat Resep: <%= typeof data !== 'undefined' ? data.title  : '' %></h1>
    <% } else { %>
    <h1 class="formtitle">Tulis Resep</h1>
    <form action="/add" method="post">
    <% } %>
        <div class="formlogin">
            <label class="email">Title</label>
            <br />
            <input type="text" name="title" class="box" value="<%= typeof data !== 'undefined' ? data.title  : '' %>" placeholder="" required <%= typeof uri !== 'undefined' && uri == 'read' ? 'disabled'  : '' %>/>
            <br><br>
            <label class="email">Bahan Bahan</label>
            <br />
            <input type="text" class="box" name="bahan" value="<%= typeof data !== 'undefined' ? data.bahan  : '' %>" placeholder="" required <%= typeof uri !== 'undefined' && uri == 'read' ? 'disabled'  : '' %>/>
            <br />
            <br />
            <label class="nama">Cara</label>
            <br />
            <textarea name="cara" cols="30" rows="10" required <%= typeof uri !== 'undefined' && uri == 'read' ? 'disabled'  : '' %>><%= typeof data !== 'undefined' ? data.cara  : '' %></textarea>
            <br><br>
            <% if(typeof uri === 'undefined' || uri != "read"){ %> <button type="submit" class="tombol">Terbitkan</button> <% } %>
        </div>
    </form>
    <a href="/dashboard">Kembali</a>
</center>