<link rel="stylesheet" href="/css/login.css">

<h1 class="formtitle">Login Page</h1>
<form action="/masuk" method="POST">
    <div class="formlogin">
        <label class="email">Email</label>
        <br />
            <input type="email" name="email" class="box" placeholder="" />
            <br><br>
            <label class="email">Password</label>
            <br>
            <input type="text" class="box" name="password" placeholder="" />
    
        
        <% if (message) { %>
            <h3 style="color: red;" class="message"><%= message %></h3>
            <% }%>

        <button type="submit" class="tombol">Login</button>
    </div>
    
</form>