<link rel="stylesheet" href="/css/register.css">
<center>
<h1 class="formtitle">Register Form</h1>
    
    <form action="/register" method="post">
        <div class="formlogin">
            
            
            <label class="email">Email</label>
            <br />
            <input type="email" name="email" class="box" placeholder="" required/>
            <br><br>
            <label class="email">Password</label>
            <br />
            <input type="text" class="box" name="password" placeholder="" required/>
            <br />
            <br />
            <label class="nama">Username</label>
            <br />
            <input type="text" name="username" class="box" placeholder="" required/>
            <br><br>
            <button type="submit" class="tombol">Daftar</button>
        </div>
    </form>
</center>