a {
    text-decoration: none;
}

.data_resep {
    font-family:sans-serif;
    color:burlywood;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid black;
}

.data_resep thead {
    border-bottom: 1px solid black;
}

.data_resep tr th{
    background-color:lightgreen;
    color: black;
    font-weight: normal;
    padding: 5px;
    line-height: 20px;
}

.data_resep tr:nth-child(even) {
    background: gainsboro;
}

.button {
    padding: 5px;
    font-size: 12px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.button.normal {
    background-color: lightblue !important;
}

.button.danger {
    background-color: lightcoral !important;
}